<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


      <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group" id='search-bar'>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Name"
  %>
  <%#= submit_tag "Search", class: "btn btn-primary" %>
  <button name="button" type="submit" class="btn btn-flat">
    <i class="fas fa-search"></i> Search
  </button>

  </div>
<% end %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if customer_signed_in? %>
       
        <li class="nav-item">
          <%= link_to "Log out", destroy_customer_session_path, method: :delete, class: "dropdown-item" %>
        </li>
        <li class="nav-item dropdown">
          <% avatar_url = current_customer.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_customer_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
