 <div class="customer-name">
  <h1><%= @customer.name %></h1>

  <h2>Telephone</h2>
  <p><%= @customer.telephone %></p>
  <p><%= @customer.email %></p>

  <h3>Register Day</h3>
  <p><%= @customer.register_day %></p>
  
  <%= link_to edit_customer_path(@customer) do %>
   Edit Customer <i class="far fa-edit"></i>
  <% end %>
 
</div>

   
<div class="crud-customer">

  <%= link_to "Delete #{@customer.name}",
              customer_path(@customer),
              method: :delete,
              data: { confirm: "Are you sure?" } , class:'btn btn-warning'%>
              

                            <i class="fas fa-trash"></i>
</div>
<div class="create-card">
          <%= link_to 'Create more contacts', new_customer_contact_path(@customer), class:'btn btn-success'  %>
  <i class="fas fa-plus"></i>
</div>
                
</div>

<div class="remove-card">

    <div class="cards-contact">
      <div class="card" style="width: 18rem;">
        <% @customer.contacts.each do |contact| %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= contact.name  %></li>   
          <li class="list-group-item"><%= contact.cellphone %></li>
          <li class="list-group-item"><%= contact.emails %></li>
        </ul>

         

    <%= link_to edit_contact_path(contact) do %>
      Edit Contacts <i class="far fa-edit"></i>
    <% end %>

      <%= link_to "Remove",
                  contact_path(contact),
                  data: { confirm: "Are you sure?" } %>
                   <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>

    

  
      
      

    

  <%= link_to 'Back to HomePage', root_path , class:'btn btn-secondary' %>